/* SCREEN READER */
/* Content visible only to screen readers */
/* https://css-tricks.com/inclusively-hidden/ */
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.input {
    display: flex;
    flex-direction: column;
}

.input-field {
    padding: 1rem 2rem;
    border-radius: 4rem;
    font-size: 1.8rem;
    border-style: solid;
    font-family: sans-serif;
}

.input-field::placeholder {
    font-family: sans-serif;
}

.error {
    border-color: #E05B4F;
}