.form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input {
    display: flex;
    flex-direction: column;
}

.select-user-icon {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-icon-options {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 4rem;
    justify-items: center;
}

.icon-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color: white;
    height: 8rem;
    width: 8rem;
    transition: all 0.1s ease-out;
}

.icon-image-wrapper:hover {
    background-color: lightgrey;
    cursor: pointer;
}

.icon-image {
    display: block;
}